HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# for WebApp1
angular-apps/SSO-WebApp1/dist
angular-apps/SSO-WebApp1/tmp
angular-apps/SSO-WebApp1/out-tsc
angular-apps/SSO-WebApp1/bazel-out
angular-apps/SSO-WebApp1/node_modules
angular-apps/SSO-WebApp1/npm-debug.log
angular-apps/SSO-WebApp1/yarn-error.log
angular-apps/SSO-WebApp1/.idea/
angular-apps/SSO-WebApp1/.project
angular-apps/SSO-WebApp1/.classpath
angular-apps/SSO-WebApp1/.c9/
angular-apps/SSO-WebApp1/*.launch
angular-apps/SSO-WebApp1/.settings/
angular-apps/SSO-WebApp1/*.sublime-workspace
angular-apps/SSO-WebApp1/.vscode/*
angular-apps/SSO-WebApp1/!.vscode/settings.json
angular-apps/SSO-WebApp1/!.vscode/tasks.json
angular-apps/SSO-WebApp1/!.vscode/launch.json
angular-apps/SSO-WebApp1/!.vscode/extensions.json
angular-apps/SSO-WebApp1/.history/*
angular-apps/SSO-WebApp1/.angular/cache
angular-apps/SSO-WebApp1/.sass-cache/
angular-apps/SSO-WebApp1/connect.lock
angular-apps/SSO-WebApp1/coverage
angular-apps/SSO-WebApp1/libpeerconnection.log
angular-apps/SSO-WebApp1/testem.log
angular-apps/SSO-WebApp1/typings
angular-apps/SSO-WebApp1/.DS_Store
angular-apps/SSO-WebApp1/Thumbs.db

# for WebApp2
angular-apps/SSO-WebApp2/dist
angular-apps/SSO-WebApp2/tmp
angular-apps/SSO-WebApp2/out-tsc
angular-apps/SSO-WebApp2/bazel-out
angular-apps/SSO-WebApp2/node_modules
angular-apps/SSO-WebApp2/npm-debug.log
angular-apps/SSO-WebApp2/yarn-error.log
angular-apps/SSO-WebApp2/.idea/
angular-apps/SSO-WebApp2/.project
angular-apps/SSO-WebApp2/.classpath
angular-apps/SSO-WebApp2/.c9/
angular-apps/SSO-WebApp2/*.launch
angular-apps/SSO-WebApp2/.settings/
angular-apps/SSO-WebApp2/*.sublime-workspace
angular-apps/SSO-WebApp2/.vscode/*
angular-apps/SSO-WebApp2/!.vscode/settings.json
angular-apps/SSO-WebApp2/!.vscode/tasks.json
angular-apps/SSO-WebApp2/!.vscode/launch.json
angular-apps/SSO-WebApp2/!.vscode/extensions.json
angular-apps/SSO-WebApp2/.history/*
angular-apps/SSO-WebApp2/.angular/cache
angular-apps/SSO-WebApp2/.sass-cache/
angular-apps/SSO-WebApp2/connect.lock
angular-apps/SSO-WebApp2/coverage
angular-apps/SSO-WebApp2/libpeerconnection.log
angular-apps/SSO-WebApp2/testem.log
angular-apps/SSO-WebApp2/typings
angular-apps/SSO-WebApp2/.DS_Store
angular-apps/SSO-WebApp2/Thumbs.db