<h1 mat-dialog-title>Edit Book</h1>
<div mat-dialog-content>
  <form [formGroup]="taskForm">
    <mat-form-field appearance="fill">
      <mat-label>Task</mat-label>
      <input matInput formControlName="task">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <input matInput formControlName="status">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()">Save</button>
</div>
